.image{
    width:2vh;
    padding-right: 4px;
    font-family: cursive;
    }
    
    .riya{
        width:2.5vh;
        padding-right: 4px;
        font-family: cursive;
    }
    Link{
        font-size: 3vh;
        font-family: cursive;
    }